<section class="inicio">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bienvenida al proyecto Angular</mat-card-title>
      <mat-card-subtitle>Trabajo final de Desarrollo Web Entorno Cliente</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Esta aplicacion implementa navegacion SPA, formulario reactivo con validaciones,
        galeria interactiva, sistema de posts dinamicos y modo claro/oscuro.
      </p>

      <mat-list>
        <mat-list-item>Angular 19 + Angular Material</mat-list-item>
        <mat-list-item>Uso de Signals en estado y UI</mat-list-item>
        <mat-list-item>Sin tipo any</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
